// InfoSection.scss
// css for InfoSection.tsx

@use '../index.scss' as *;

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: auto;

    gap: $space-sm;
    padding: $space-md;

    .info-section-border {
        border-left: 1.5px solid $border-color-secondary;

        margin-left: $space-lg;
        padding-left: $space-md;

        width: 100%;
    }

    .info-section-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        gap: $space-sm;
        width: 100%;

        .info-section-media {
            height: 64px;
            width: 64px;
            display: flex;
            align-items: center;
            justify-content: center;

            img { width: 100%; height: 100%; object-fit: fill; border-radius: $radius-md; }
            svg { width: 60%; height: 60%; color: $accent-color-primary; }
        }

        a {
            background-color: $bg-color-secondary;
            border: 2px solid $border-color-secondary;
            color: $font-color-primary;
            padding: $space-sm;
            border-radius: $radius-md;
            transition: border-color 0.2s ease, color 0.2s ease, background-color 0.2s ease;
            &:hover {
                border-color: $border-color-hover;
                color: $font-color-hover;
                background-color: $bg-color-hover;
            }
        }
    }

    hr {
        width: 100%;
        height: 2px;
        background-color: $border-color-secondary;
        border: none;
    }
}

.info-section-background {
    background-color: $bg-color-secondary;
    border: 2px solid $border-color-primary;
    border-radius: $radius-md;
}

@media(max-width: $mobile-breakpoint) {
    .info-section {
        .info-section-border {
            border: none;
            padding: 0;
            margin: 0;
        }
    }
}