// SiteSection.scss
// css for SiteSection.tsx

@use '../index.scss' as *;

.site-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;

    gap: $space-md;
    margin: $space-sm 0;
    padding: 0 $space-md;

    .site-section-media {
        width: 128px;
        height: 128px;
        display: flex;
        align-items: center;
        justify-content: center;

        img { width: 100%; height: 100%; object-fit: fill; border-radius: $radius-md; }
        svg { width: 60%; height: 60%; color: $accent-color-primary; }
    }

    .site-section-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        width: 100%;

        hr {
            width: 50%;
            border: 1.5px solid $border-color-secondary;
            border-radius: $radius-lg;
            margin-top: $space-xs;
            margin-bottom: $space-xs;
        }
    }
}

@media(max-width: $mobile-breakpoint) {
    .site-section {
        //flex-direction: column;

        .site-section-media {
            width: 96px;
            height: 96px;
        }
    }
}